<footer id="footer" class="footer">
    <div class="footer-bottom">
        <p class="pull-left">Copyright © 2018</p>
        <p class="pull-right">MVC PHP</p>
    </div>
</footer>

</div>

<script src="/public/build/js/app.js"></script>

