{% extends basesTmpl %}

{% block content %}

    <div class="container">

        <div class="card card-container">
            <h2>Вход на сайт</h2>
            <img id="profile-img" class="profile-img-card" src="../../resources/images/login_avatar.png"/>
            <p id="profile-name" class="profile-name-card"></p>

            <form class="form-signin" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
                       required autofocus value="{{ email }}">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                       required value="{{ password }}">
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" name="signIn" value="Sign in"/>
            </form>
        </div>
    </div>

{% endblock %}